<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: palevioletred;">
  Je suis Laura
  <span style="font-size: .9em;">({{age}} ans)</span>
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/laura_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/laura_modal4.png" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/laura_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/laura_modal2.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/laura_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  L'aînée de&nbsp;la&nbsp;famille. Fière, autonome et&nbsp;rebelle, je&nbsp;n'ai&nbsp;que peu de&nbsp;souvenirs
  aux&nbsp;côtés de&nbsp;mes&nbsp;parents... L'âge et&nbsp;mes&nbsp;raisons m'ont&nbsp;poussée à&nbsp;ne&nbsp;plus
  commettre
  les&nbsp;mêmes&nbsp;erreurs. En effet, j'ai&nbsp;été contrainte de&nbsp;quitter le&nbsp;cocon familial à&nbsp;l'âge
  de&nbsp;17&nbsp;ans pour vivre tout&nbsp;d'abord seule, puis avec mon&nbsp;mari. Dès&nbsp;lors, j'ai&nbsp;fait
  un&nbsp;choix qui&nbsp;allait radicalement bouleverser mon&nbsp;existence&nbsp;: celui&nbsp;de&nbsp;mettre
  au&nbsp;monde 4&nbsp;enfants en&nbsp;l'espace&nbsp;de&nbsp;sept&nbsp;années. <br /><br />
  Épaulée&nbsp;de&nbsp;près par&nbsp;Mère, mon&nbsp;train&nbsp;de&nbsp;vie m'a&nbsp;ainsi permis de&nbsp;découvrir
  de&nbsp;nouvelles régions, de&nbsp;déménager et&nbsp;ainsi voyager à&nbsp;travers les&nbsp;contrées helvétiques
  afin&nbsp;d'y&nbsp;trouver un&nbsp;nid stable et&nbsp;pérenne. En&nbsp;passant par&nbsp;Genève, puis&nbsp;Gland
  et&nbsp;Arzier-Le-Muid pour enfin quitter la&nbsp;Suisse en&nbsp;2015 après de&nbsp;nombreux échecs. Mon&nbsp;mari
  et&nbsp;moi
  décidâmes de&nbsp;nous installer tous&nbsp;les&nbsp;six en&nbsp;Espagne dans le&nbsp;but d'y&nbsp;trouver
  un&nbsp;havre de&nbsp;paix.<br /><br />
  Dès&nbsp;ce&nbsp;moment-là, j'ai&nbsp;décidé de&nbsp;couper les&nbsp;ponts avec ma&nbsp;famille en&nbsp;Suisse...
  Un&nbsp;choix radical mais&nbsp;nécessaire, afin&nbsp;de&nbsp;me&nbsp;concentrer sur&nbsp;l'éducation
  de&nbsp;mes&nbsp;propres enfants.
  Le&nbsp;contact avec mes&nbsp;frères opère toujours à&nbsp;travers les&nbsp;réseaux&nbsp;sociaux mais reste
  occasionnel et&nbsp;opportuniste. Bref, j'ai&nbsp;changé de&nbsp;vie.
</div>
