<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: plum;">
  Je suis Loan
</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/loan_modal2.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
  <img src="assets/images/loan_modal3.PNG" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/loan_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
  <img src="assets/images/loan_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
</div>
<div mat-dialog-content class="mat-typography">
  Petite soeur et&nbsp;troisième d'une&nbsp;belle famille. Tout&nbsp;au&nbsp;long de&nbsp;mon&nbsp;enfance,
  j'ai&nbsp;été proche de&nbsp;mes&nbsp;frères et&nbsp;soeurs et&nbsp;je&nbsp;pouvais compter sur&nbsp;eux
  à&nbsp;n'importe
  quel&nbsp;moment pour&nbsp;m'aider ou me&nbsp;conseiller sur des&nbsp;détails. De&nbsp;nature calme et&nbsp;timide,
  je&nbsp;suis la&nbsp;sagesse de&nbsp;la&nbsp;famille.<br />
  A&nbsp;mon&nbsp;grand&nbsp;regret, le&nbsp;narrateur du&nbsp;chapitre de&nbsp;ma&nbsp;vie manque d'information et pour
  cette&nbsp;raison, ne&nbsp;peut poursuivre cet&nbsp;épilogue... A&nbsp;bientôt pour de&nbsp;nouvelles&nbsp;aventures.
</div>
<span class="dialog-age">Âge actuel : {{age}} ans</span>
