<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: pink;">Je suis Linh</h1>
<div style="display:grid; padding-bottom: 20px; margin-bottom: 10px; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
  <img src="../../../assets/images/linh_modal0.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="../../../assets/images/linh_modal2.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="../../../assets/images/linh_modal1.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div style="display:grid; padding-bottom: 20px; margin-bottom: 10px; grid-template-columns: 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="../../../assets/images/linh_modal3.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="../../../assets/images/linh_modal4.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  L'aînée d'une longue lignée. J'ai deux tontons dont un avec neuf années d'écarts seulement. De nature calme et raisonnée, je suis le modèle de ma famille.
  J'ai vécu une enfance tumultueuse avec beaucoup de va-et-vient, des arrières-grands-parents qui se sont occupés de moi à ma naissance, en passant par grand-mère avec
  qui m'a toujours fait rêver avec ses bonnes spécialités culinaires, puis enfin mes deux tontons avec qui j'ai passé beaucoup de temps à jouer et discuter. <br/><br/>
  Ma nouvelle vie en Espagne se déroule plutôt bien et je continue mes études. Je suis de près tonton Edouard et ses vidéos de sport et commence petit à petit
  à me motiver à bouger... Le confinement strict ne m'aide pas mais je reste optimiste.
</div>
