<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="color: goldenrod;">
  Je suis Papa
</h1>
<div class="grid-three-columns-simple">
  <img
    src="assets/images/binh_modal0.jpeg"
    style="height: 300px; width:auto; border-radius: 8px;"
  />
  <img
    src="assets/images/binh_modal5.jpeg"
    style="height: 300px; width:auto; border-radius: 8px;"
  />
  <div class="vertical-video-container">
    <video
      id="video"
      muted
      autoplay
      loop
      preload="auto"
      style="height: 300px; width: auto;"
    >
      <source src="assets/videos/papa.mp4#t=2" type="video/mp4" />
    </video>
  </div>
</div>
<div class="grid-three-columns-border">
  <div class="wrapper-modal-img-papa">
    <img
      src="assets/images/binh_modal2.jpeg"
      style="height: 150%; width:auto; border-radius: 8px; position: relative; top: -120px; left: -40px;"
    />
  </div>
  <div class="wrapper-modal-img-bigger">
    <img
      src="assets/images/binh_modal7.jpeg"
      style="height: 300px; width:auto; border-radius: 8px; position: relative; top: -30px;"
    />
  </div>
  <div class="wrapper-modal-img-papa">
    <img
      src="assets/images/binh_modal6.jpeg"
      style="height: 350px; width:auto; border-radius: 8px;"
    />
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  Le&nbsp;grand&nbsp;sage de la&nbsp;famille encore vivant et&nbsp;progéniteur
  de&nbsp;quatre&nbsp;enfants. Il m'a été incombé le&nbsp;rôle de&nbsp;Père
  à&nbsp;l'âge de 25&nbsp;ans. Dès ce&nbsp;moment, j'eus très vite
  deux&nbsp;enfants avec lesquels je&nbsp;voyageais et&nbsp;appréciais chaque
  instant de ma&nbsp;vie de&nbsp;famille comblée en&nbsp;Suisse. Beaucoup plus
  tard est&nbsp;né le&nbsp;troisième, que j'ai&nbsp;accompagné de très près
  jusqu'à l'âge de ses&nbsp;7&nbsp;ans. Les&nbsp;hauts et&nbsp;les bas
  de&nbsp;mon&nbsp;existence ont fait que ma&nbsp;vie a&nbsp;pris
  un&nbsp;nouveau tournant après la&nbsp;cinquantaine&nbsp;: âge&nbsp;où
  j'ai&nbsp;décidé de&nbsp;mettre au&nbsp;monde ma&nbsp;dernière fille.
  <br /><br />
  Tout&nbsp;au&nbsp;long de mon&nbsp;vécu à&nbsp;Genève, j'ai&nbsp;surveillé
  de&nbsp;près ou de&nbsp;loin mes&nbsp;trois premiers&nbsp;enfants
  avec&nbsp;lesquels j'organisais avec&nbsp;plaisir des&nbsp;repas
  à&nbsp;la&nbsp;maison afin de prendre de leurs&nbsp;nouvelles et&nbsp;ainsi
  m'assurer que tout&nbsp;va pour le mieux tant dans leur&nbsp;santé, que dans
  leur&nbsp;vie&nbsp;professionnelle. Ma&nbsp;carrière s'étant terminée
  en&nbsp;2014, j'ai aujourd'hui pris ma&nbsp;tant attendue retraite
  au&nbsp;Viêt&nbsp;Nam où je&nbsp;vis actuellement avec ma&nbsp;femme
  et&nbsp;ma&nbsp;fille de {{kimAge}}&nbsp;ans.<br /><br />
  Je&nbsp;reste cependant en&nbsp;contact régulier avec mon&nbsp;ex-femme
  et&nbsp;mes&nbsp;fils grâce aux&nbsp;moyens de&nbsp;communication actuels...
  Car&nbsp;oui il&nbsp;faut l'avouer : cela aurait été impossible à&nbsp;mon
  époque.
  <br /><br />
  Ah&nbsp;oui, n'oublions pas le&nbsp;sport dans cette&nbsp;longue et&nbsp;prospère
  retraite...
</div>
<span class="dialog-age">Âge actuel : {{age}} ans<br/>&nbsp;</span>