<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: orchid;">Je suis Yaya</h1>
<div
  style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="assets/images/yaya_modal0.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/yaya_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/yaya_modal4.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div
  style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="assets/images/yaya_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="assets/videos/yaya3.mp4#t=3" type="video/mp4">
  </video>
  <img src="assets/images/yaya_modal5.png" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  La reine, l'éternelle flamme hellénique, brave, vaillante et chantante jusqu'au bout de ma longue et paisible vie.
  De mon vivant, j'ai accompagné tous mes petits enfants dans leur tendre jeunesse et me suis assurée d'un oeil attentif, que chacun atteigne l'âge adulte et acquière son indépendance sociale et financière.<br/><br/>
  En ce qui me concerne, je suis resté aux côtés de ma fille ces 11 dernières années qui a, malgré elle, témoignée de mon état qui s'empirait peu à peu et a su rester à mes côtés pour prendre soin de moi comme personne
  ne l'aurait jamais fait... MERCI ma fille. <br/><br/>
  Mon âme s'est éteinte en avril 2020. Je m'envole enfin dans ce lieu si paisible et mystérieux, là où mes proches m'attendent depuis de longues années. Dernière de ma lignée, j'ai su m'épanouir dans un monde
  où la longévité s'est peu à peu développée sous mes yeux. Indépendemment de mon incapacité de discernement, je pars heureuse et soulagée en mettant fin à une génération de la famille Diep : celle des grands-parents.
</div>
