<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: orchid;">Je suis Kim</h1>
<div class="grid-two-columns-border">
  <img src="assets/images/kim_modal0.jpeg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/kim_modal1.jpeg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Demi-soeur d'une grande famille et heureuse héritière du nom de Diep. J'ai grandi à Onex aux côtés de mon père et vis actuellement au Viêt Nam.
  Mes demi-frères et soeurs venaient régulièrement me rendre visite lorsque j'étais sur Genève et j'espère les revoir un beau jour où je ferai mes hautes études à l'université en Suisse.
  Par ailleurs, je me suis découvert un talent caché : le dessin sur papier.<br/><br/>
  De nature joviale, souriante et attentionnée, je partage volontiers mes petites pièces artisitiques avec mon demi-frère le plus jeune. Pour le reste, ils n'ont pas beaucoup de souvenirs de moi...
</div>
