<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: darkturquoise;">
  Je suis Maman
</h1>
<div class="grid-three-columns-simple">
  <div class="wrapper-modal-img">
    <img src="assets/images/maman_modal8.jpeg"
      style="height: 150%; width:auto; border-radius: 8px; position: relative; top: -25px;" />
  </div>
  <div class="wrapper-modal-img">
    <img src="assets/images/maman_modal0.jpeg"
      style="height: 150%; width:auto; border-radius: 8px; position: relative; top: -45px;" />
  </div>
  <div class="wrapper-modal-img">
    <img src="assets/images/maman_modal1.jpeg"
      style="height: 500%; width:auto; border-radius: 8px; position: relative; top: -400px; left: -260px;" />
  </div>
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/maman_modal7.jpeg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/maman_modal5.jpeg" style="height: 200px; width:auto; border-radius: 8px;" />
  <div class="wrapper-modal-img">
    <img src="assets/images/maman_modal10.jpeg"
      style="height: 200%; width:auto; border-radius: 8px; position:relative; top: -105px;" />
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  Le pilier de la famille, la protagoniste, le centre de l'attention et&nbsp;de la communication. J'exprime la force
  et&nbsp;la
  persévérance tout&nbsp;autour&nbsp;de&nbsp;moi avec une&nbsp;voix forte et&nbsp;fais preuve&nbsp;de&nbsp;générosité
  par&nbsp;excellence.
  Aussi appelée&nbsp;"Mère" par&nbsp;mes&nbsp;fils&nbsp;d'amour, leur&nbsp;train de&nbsp;vie est&nbsp;une&nbsp;réelle
  inspiration pour&nbsp;moi dans&nbsp;mon&nbsp;quotidien.
  Produit d'une&nbsp;famille grecque, je&nbsp;grandis à&nbsp;Athènes et&nbsp;arrive en&nbsp;Suisse à&nbsp;l'âge innocent
  de&nbsp;9&nbsp;ans. Aux&nbsp;côtés de&nbsp;ma&nbsp;famille,
  je&nbsp;deviens très&nbsp;rapidement indépendante
  et&nbsp;quitte le&nbsp;cocon&nbsp;familial pour&nbsp;mettre au&nbsp;monde 3&nbsp;enfants à&nbsp;Genève, dans
  un&nbsp;bel&nbsp;appartement avec&nbsp;vue sur&nbsp;le&nbsp;lac.
  <br /><br />
  En l'an&nbsp;2001, ma&nbsp;vie&nbsp;bouscule lorsque survient le&nbsp;divorce avec&nbsp;mon&nbsp;mari. Les&nbsp;dures
  et&nbsp;pénibles conséquences sur&nbsp;les&nbsp;années qui&nbsp;suivent ne&nbsp;m'aident&nbsp;pas à&nbsp;satisfaire
  une&nbsp;éducation formelle pour&nbsp;le&nbsp;petit&nbsp;dernier,
  mais je&nbsp;prends sur&nbsp;moi et&nbsp;parviens finalement à&nbsp;me&nbsp;sortir de&nbsp;cette&nbsp;situation
  obscure. Parallèlement, je&nbsp;m'accroche
  avec&nbsp;passion et&nbsp;acharnement à&nbsp;mon&nbsp;métier et&nbsp;finis par&nbsp;saisir
  à&nbsp;bras&nbsp;ouverts une&nbsp;opportunité de&nbsp;retraite anticipée en&nbsp;2012. Une&nbsp;nouvelle&nbsp;vie
  commence alors pour&nbsp;moi : celle&nbsp;de&nbsp;l'ange&nbsp;gardien pour ma&nbsp;chère et&nbsp;tendre mère
  qui&nbsp;ne&nbsp;pouvait plus s'occuper
  d'elle-même, victime de&nbsp;la&nbsp;maladie&nbsp;d'Alzheimer. <br /><br />
  J'avance et&nbsp;persévère sans&nbsp;relâche dans la&nbsp;logistique, la&nbsp;gestion des&nbsp;factures,
  l'administration
  perpétuelle et&nbsp;la&nbsp;paperasse infinie. Je&nbsp;me&nbsp;découvre&nbsp;au&nbsp;fil du&nbsp;temps,
  une&nbsp;nouvelle
  passion : celle&nbsp;du&nbsp;montage&nbsp;photo.
  Grâce à&nbsp;mes&nbsp;fils, je reste continuellement à&nbsp;la&nbsp;pointe de&nbsp;la&nbsp;technologie
  et&nbsp;informée sur&nbsp;les&nbsp;dernières nouveautés du&nbsp;marché de&nbsp;la&nbsp;mode électronique. <br /><br />
  J'accompagne alors&nbsp;avec&nbsp;fierté mon&nbsp;petit&nbsp;dernier, toujours à&nbsp;la&nbsp;maison,
  et&nbsp;ainsi&nbsp;le&nbsp;vois s'envoler vers&nbsp;de&nbsp;nouveaux
  horizons avec son&nbsp;diplôme en&nbsp;poche. En février&nbsp;2020, un&nbsp;évènement tragique se&nbsp;produit&nbsp;:
  ma&nbsp;santé est&nbsp;lourdement affectée. Je&nbsp;garde cependant la&nbsp;tête&nbsp;haute et&nbsp;m'efforce d'aller
  de&nbsp;l'avant, tout&nbsp;en&nbsp;écoutant
  les&nbsp;précieux conseils de&nbsp;mes&nbsp;proches afin&nbsp;d'envisager de&nbsp;me&nbsp;relever d'une&nbsp;situation
  difficile qui&nbsp;me&nbsp;demandera un&nbsp;effort constant et&nbsp;nécessitera de&nbsp;me&nbsp;sortir
  de&nbsp;ma&nbsp;zone de&nbsp;confort... celle&nbsp;que&nbsp;j'avais
  tant&nbsp;appréciée depuis le&nbsp;début de&nbsp;ma&nbsp;retraite ! Malheureusement pour&nbsp;moi
  et&nbsp;ma&nbsp;psychologie rigide,
  ma&nbsp;santé prime sur&nbsp;mes&nbsp;occupations et&nbsp;je&nbsp;vais devoir commencer à&nbsp;changer de&nbsp;grandes
  et&nbsp;vieilles habitudes afin&nbsp;de&nbsp;faire&nbsp;face à&nbsp;une&nbsp;réalité évidente : la suite
  de&nbsp;ma&nbsp;vie qui est loin d'être arrivée au&nbsp;bout.
</div>
<span class="dialog-age">Âge actuel : {{age}} ans <br/>&nbsp;</span>