<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: maroon;">
  Je suis Papou
  <span style="font-size: .9em;">(décédé en 2009)</span>
</h1>
<div class="grid-two-columns-simple">

  <img src="assets/images/papou_modal1.jpeg" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="horizontal-and-vertical-video-container">
    <video id="video" muted autoplay loop style="height: 335px; width: auto;">
      <source src="assets/videos/papou1.mp4#t=2" type="video/mp4">
    </video>
  </div>
</div>
<div class="grid-two-columns-border">
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papou2.mp4#t=2" type="video/mp4">
    </video>
  </div>
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/yaya2.mp4#t=2" type="video/mp4">
    </video>
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  Un&nbsp;talon&nbsp;d'Achille incassable, fier, vaillant et&nbsp;paré à&nbsp;toutes épreuves. Pilier d'une grande
  lignée hellénique et&nbsp;"papou" pour&nbsp;mes&nbsp;petits-enfants.
  J'ai&nbsp;consacré un&nbsp;long&nbsp;moment de&nbsp;ma&nbsp;vie à&nbsp;ma&nbsp;carrière militaire. Des&nbsp;voyages
  en&nbsp;passant par&nbsp;les&nbsp;déplacements
  professionnels, jusqu'à&nbsp;la&nbsp;décision de&nbsp;s'établir en&nbsp;Suisse. Du&nbsp;travail acharné
  jusqu'à&nbsp;la&nbsp;garde
  des&nbsp;enfants de&nbsp;ma&nbsp;fille unique, les&nbsp;dernières années de&nbsp;ma&nbsp;vie se&nbsp;sont résumées
  à&nbsp;un&nbsp;long&nbsp;fleuve tranquille. <br />
  <br />
  Pour&nbsp;ma&nbsp;part, je&nbsp;suis finalement retourné dans&nbsp;mon&nbsp;pays&nbsp;natal avec ma&nbsp;chère
  et&nbsp;tendre femme, qui&nbsp;a&nbsp;toujours su&nbsp;prendre&nbsp;soin de&nbsp;moi et&nbsp;assurer
  mes&nbsp;besoins&nbsp;quotidiens.
  Je&nbsp;laisse ma&nbsp;place à&nbsp;la&nbsp;relève en&nbsp;septembre&nbsp;2009 et&nbsp;m'envole avec&nbsp;l'âme
  d'un&nbsp;heureux premier&nbsp;lieutenant de&nbsp;l'aviation, qui&nbsp;aura
  confortablement vécu aux&nbsp;côtés de&nbsp;ses&nbsp;proches.
</div>
