<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: green;">
  Je suis Papa An
  <span style="font-size: .9em;">(décédé en 2003)</span>
</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/papa_an_modal0.png" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papa_an.mp4#t=5" type="video/mp4">
    </video>
  </div>
</div>
<div class="grid-one-column-border">
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papa_an2.mp4#t=5" type="video/mp4">
    </video>
  </div>
</div>
<div at-dialog-content class="mat-typography">
  L'ancêtre de&nbsp;la&nbsp;caméra&nbsp;vidéo, l'inépuisable pile&nbsp;électrique de&nbsp;la&nbsp;famille&nbsp;Diep.
  Je&nbsp;répandais constamment la&nbsp;joie et&nbsp;la&nbsp;bonne humeur
  tout&nbsp;autour de&nbsp;moi avec mon&nbsp;caractère optimiste et bon&nbsp;vivant.
  Entouré de&nbsp;ma&nbsp;famille, j'étais prêt à&nbsp;franchir n'importe&nbsp;quel obstacle. Mes&nbsp;petits enfants
  étaient toute ma&nbsp;vie.
  J'étais un&nbsp;grand-père heureux et&nbsp;comblé. J'avais trouvé mes&nbsp;vrais&nbsp;repères
  à&nbsp;Genève...<br /><br />
  En&nbsp;l'an&nbsp;2000, je&nbsp;suis embarqué de&nbsp;force dans&nbsp;un&nbsp;avion direction le&nbsp;Viêt&nbsp;Nam,
  mon&nbsp;pays&nbsp;natal. Bien qu'au&nbsp;fond de&nbsp;mon&nbsp;petit&nbsp;coeur faible et&nbsp;âgé,
  j'avais&nbsp;conscience que,&nbsp;dès&nbsp;ce&nbsp;moment-là, je&nbsp;n'allais jamais revoir
  mes&nbsp;petits&nbsp;enfants.
  Je&nbsp;m'effondre, rien&nbsp;ne&nbsp;va&nbsp;plus, j'ai&nbsp;cette impression d'avoir perdu mon&nbsp;sens
  de&nbsp;la&nbsp;vie. Je&nbsp;décède 3&nbsp;ans plus&nbsp;tard et&nbsp;laisse&nbsp;place à&nbsp;une&nbsp;âme
  bienveillante qui&nbsp;suivra à&nbsp;jamais la&nbsp;famille de&nbsp;là-haut,
  avec une&nbsp;nouvelle&nbsp;caméra encore plus&nbsp;nette et&nbsp;précise que&nbsp;n'importe quel&nbsp;objet :
  ma&nbsp;pensée&nbsp;éternelle.
</div>
