<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: lightcoral;">Je suis Tao</h1>
<div style="display:grid; padding-bottom: 20px; margin-bottom: 10px; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
  <img src="/src/assets/images/tao_modal3.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="/src/assets/images/tao_modal2.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="/src/assets/images/tao_modal1.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div style="display:grid; padding-bottom: 20px; margin-bottom: 10px; grid-template-columns: 1fr 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="/src/assets/images/tao_modal5.PNG" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="/src/assets/images/tao_modal6.PNG" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="/src/assets/images/tao_modal7.PNG" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Frère cadet et benjamin d'une grande famille. J'ai toujours vécu aux côtés de mes frères et soeurs qui ont été là pour me soutenir et m'apporter tout le réconfort
  dont j'avais besoin pour grandir heureux et épanoui. Durant toute mon enfance, j'ai partagé ma joie et ma bonne humeur au quotidien avec tous mes proches : c'était presque contagieux !<br/><br/>
  On dit de moi que j'ai "bonne" tête. Cela doit certainement vouloir dire que les gens ne me prennent pas au sérieux mais attention : j'ai du charme et je sais m'en servir. <br/><br/>
  Oh non... Le narrateur du chapitre de ma vie manque cruellement d'information et pour cette raison, ne peut poursuivre cet épilogue... Peut-être un jour en saura-t-il davantage... ?
</div>
