<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: green;">Je suis Papa An</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/papa_an_modal0.png" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papa_an.mp4#t=5" type="video/mp4">
    </video>
  </div>
</div>
<div class="grid-one-column-border">
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papa_an2.mp4#t=5" type="video/mp4">
    </video>
  </div>
</div>
<div at-dialog-content class="mat-typography">
  L'ancêtre de la caméra vidéo, l'inépuisable pile électrique de la famille Diep. Je répandais constamment la joie et la
  bonne humeur tout autour de moi avec mon caractère optimiste et bon vivant.
  Entouré de ma famille, j'étais prêt à franchir n'importe quel obstacle. Mes petits enfants étaient toute ma vie.
  J'étais un grand-père heureux et comblé. J'avais trouvé mes vrais repères à Genève...<br /><br />
  En l'an 2000, je suis embarqué de force dans un avion direction le Viêt Nam, mon pays natal. Bien qu'au fond de mon
  petit coeur faible et âgé, j'avais conscience que, dès ce moment-là, je n'allais jamais revoir mes petits enfants.
  Je m'effondre, rien ne va plus, j'ai cette impression d'avoir perdu mon sens de la vie. Je décède 3 ans plus tard et
  laisse place à une âme bienveillante qui suivra à jamais la famille de là-haut,
  avec une nouvelle caméra encore plus nette et précise que n'importe quel objet : ma pensée éternelle.
</div>
