<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: mediumvioletred;">
  Je suis Maman Ly
  <span style="font-size: .9em;">(décédée en 2014)</span>
</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/maman_ly_modal0.png" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/maman_ly1.mp4" type="video/mp4">
    </video>
  </div>
</div>
<div class="grid-one-column-border">
  <div class="narrow-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/maman_ly2.mp4#t=5" type="video/mp4">
    </video>
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  La&nbsp;sagesse incarnée de&nbsp;la&nbsp;famille&nbsp;Diep. Je&nbsp;me&nbsp;suis occupée et&nbsp;j'ai&nbsp;vu&nbsp;grandir
  tous&nbsp;mes&nbsp;petits enfants à&nbsp;la&nbsp;Rue&nbsp;des&nbsp;Barques. De&nbsp;la&nbsp;cuisine au&nbsp;salon et&nbsp;jusque dans la&nbsp;chambre, les&nbsp;coups&nbsp;de&nbsp;baguette
  n'ont&nbsp;pas toujours été&nbsp;mérités, mais il&nbsp;fallait remettre de&nbsp;l'ordre dans ce&nbsp;patelin suisse
  que je&nbsp;chérissais tant,
  malgré mon&nbsp;envie&nbsp;folle de&nbsp;retrouver mon&nbsp;pays natal !<br /><br />
  J'ai&nbsp;d'ailleurs décidé de&nbsp;tout quitter en&nbsp;l'an&nbsp;2000 pour laisser place à&nbsp;la&nbsp;descendance
  et&nbsp;ainsi retrouver mon&nbsp;chez-moi pour la&nbsp;fin de&nbsp;ma&nbsp;vie... En&nbsp;effet, mes&nbsp;bambins
  avaient déjà bien grandi
  et&nbsp;je&nbsp;sentais qu'ils&nbsp;n'avaient plus besoin de&nbsp;mon aide. Mon&nbsp;mari et&nbsp;moi sommes retournés
  terminer notre&nbsp;vie à&nbsp;Vungtau,
  dans notre&nbsp;nouvelle&nbsp;maison.
  Après plusieurs années de&nbsp;souffrance physique due&nbsp;à&nbsp;l'âge, mon&nbsp;âme s'est&nbsp;finalement envolée
  dans un&nbsp;monde&nbsp;meilleur en&nbsp;2014... Qu'elle&nbsp;repose en&nbsp;paix.
</div>
