<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: orchid;">
  Je suis Yaya
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/yaya_modal0.PNG" style="height: 250px; width:auto; border-radius: 8px;" />
  <img src="assets/images/yaya_modal1.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
  <img src="assets/images/yaya_modal4.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/yaya_modal3.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/yaya3.mp4#t=3" type="video/mp4">
    </video>
  </div>
  <img src="assets/images/yaya_modal5.png" style="height: 250px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  La&nbsp;reine, l'éternelle flamme hellénique, brave, vaillante et&nbsp;chantante jusqu'au&nbsp;bout
  de&nbsp;ma&nbsp;longue et&nbsp;paisible&nbsp;vie.
  De&nbsp;mon&nbsp;vivant, j'ai&nbsp;accompagné tous&nbsp;mes&nbsp;petits enfants
  dans&nbsp;leur&nbsp;tendre&nbsp;jeunesse et&nbsp;me&nbsp;suis&nbsp;assurée d'un&nbsp;oeil&nbsp;attentif,
  que&nbsp;chacun&nbsp;atteigne l'âge&nbsp;adulte et&nbsp;acquière son&nbsp;indépendance&nbsp;sociale
  et&nbsp;financière.<br /><br />
  En&nbsp;ce&nbsp;qui&nbsp;me&nbsp;concerne, je&nbsp;suis restée aux&nbsp;côtés de&nbsp;ma&nbsp;fille
  ces&nbsp;11&nbsp;dernières années qui&nbsp;a,&nbsp;malgré&nbsp;elle, témoigné&nbsp;de&nbsp;mon&nbsp;état
  qui&nbsp;s'empirait peu&nbsp;à&nbsp;peu et&nbsp;a&nbsp;su&nbsp;rester à&nbsp;mes&nbsp;côtés
  pour&nbsp;prendre&nbsp;soin de&nbsp;moi comme&nbsp;personne
  ne&nbsp;l'aurait jamais&nbsp;fait... MERCI ma&nbsp;fille. <br /><br />
  Mon&nbsp;âme s'est&nbsp;éteinte en&nbsp;avril&nbsp;2020. Je&nbsp;m'envole enfin dans&nbsp;ce&nbsp;lieu
  si&nbsp;paisible et&nbsp;mystérieux, là&nbsp;où&nbsp;mes&nbsp;proches
  m'attendent depuis de&nbsp;longues&nbsp;années. Dernière de&nbsp;ma&nbsp;lignée, j'ai&nbsp;su&nbsp;m'épanouir
  dans&nbsp;un&nbsp;monde
  où&nbsp;la&nbsp;longévité s'est&nbsp;peu&nbsp;à&nbsp;peu développée sous&nbsp;mes&nbsp;yeux. Indépendemment
  de&nbsp;mon&nbsp;incapacité de&nbsp;discernement, je&nbsp;pars
  heureuse et&nbsp;soulagée en&nbsp;mettant fin&nbsp;à&nbsp;une&nbsp;génération de&nbsp;la&nbsp;famille&nbsp;Diep :
  celle des&nbsp;grands-parents.
</div>
<span class="dialog-age">Décédée le 30.04.2020</span>
