<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: maroon;">Je suis Papou</h1>
<div class="grid-two-columns-simple">

  <img src="assets/images/papou_modal1.jpeg" style="height: 250px; width:auto; border-radius: 8px;" />
  <div class="horizontal-and-vertical-video-container">
    <video id="video" muted autoplay loop style="height: 335px; width: auto;">
      <source src="assets/videos/papou1.mp4#t=2" type="video/mp4">
    </video>
  </div>
</div>
<div class="grid-two-columns-border">
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/papou2.mp4#t=2" type="video/mp4">
    </video>
  </div>
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop style="height: 250px; width: auto;">
      <source src="assets/videos/yaya2.mp4#t=2" type="video/mp4">
    </video>
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  Un talon d'Achille incassable, fier, vaillant et paré à toutes épreuves. Pilier d'une grande lignée hellénique et
  "papou" pour mes petits-enfants.
  J'ai consacré un long moment de ma vie à ma carrière militaire. Des voyages en passant par les déplacements
  professionnels, jusqu'à la décision de s'établir en Suisse. Du travail acharné jusqu'à la garde
  des enfants de ma fille unique, les dernières années de ma vie se sont résumées à un long fleuve tranquille. <br />
  <br />
  Pour ma part, je suis finalement retourné dans mon pays natal avec ma chère et tendre femme, qui a toujours su prendre
  soin de moi et assurer mes besoins quotidiens.
  Je laisse ma place à la relève en septembre 2009 et m'envole avec l'âme d'un heureux officier de l'aviation, qui aura
  confortablement vécu aux côtés de ses proches.
</div>
