<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: blue;">
  Je suis Nam
  <span style="font-size: .9em;">({{age}} ans)</span>
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/nam_modal1.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/nam_modal2.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal4.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal5.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Frère&nbsp;aîné d'une&nbsp;fratrie eurasienne et&nbsp;la&nbsp;relève de&nbsp;la&nbsp;pile&nbsp;électrique ! Depuis
  tout&nbsp;jeune, je&nbsp;n'ai&nbsp;pas arrêté de&nbsp;bouger, rester&nbsp;actif et&nbsp;sportif. Aujourd'hui,
  je&nbsp;m'inspire de&nbsp;tonton Edouard avec son&nbsp;sport : oui je&nbsp;me&nbsp;suis mis au&nbsp;CrossFit. <br />
  <br />
  De&nbsp;nature active, dynamique et&nbsp;bavard, j'ai&nbsp;eu&nbsp;une&nbsp;enfance assez tumultueuse. Victime
  de&nbsp;l'autorité&nbsp;parentale à&nbsp;plusieurs reprises, j'ai&nbsp;su&nbsp;me&nbsp;forger un&nbsp;caractère
  ferme et&nbsp;confiant lors&nbsp;de&nbsp;mon&nbsp;adolescence. <br />
  Malheureusement, le&nbsp;narrateur du&nbsp;chapitre de&nbsp;ma&nbsp;vie manque d'informations et&nbsp;pour cette
  raison, ne&nbsp;peut poursuivre cet&nbsp;épilogue... A&nbsp;bientôt pour de&nbsp;nouvelles&nbsp;aventures.
</div>
