<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: blue;">Je suis Nam</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/nam_modal1.PNG" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal0.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal3.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/nam_modal2.PNG" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal4.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/nam_modal5.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Frère cadet d'une fratrie eurasienne et la relève de la pile électrique ! Depuis tout jeune, je n'ai pas arrêté de bouger, rester actif et sportif. Aujourd'hui,
  je m'inspire de tonton Edouard avec son sport : oui je me suis mis au CrossFit. <br/> <br/>
  De nature active, dynamique et bavard, j'ai eu une enfance assez tumultueuse et victime de l'autorité parentale à plusieurs reprises, j'ai su me forger un caractère
  ferme et confiant lors de mon adolescence. <br/>
  Malheureusement, le narrateur du chapitre de ma vie manque d'information et pour cette raison, ne peut poursuivre cet épilogue... A bientôt pour de nouvelles aventures.
</div>
