<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: mediumvioletred;">Je suis Maman Ly</h1>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center">
  <img src="assets/images/maman_ly_modal0.png" style="height: 180px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="assets/videos/maman_ly1.mp4" type="video/mp4">
  </video>
</div>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr; justify-items: center; border-bottom: 1px solid black;">
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="assets/videos/maman_ly2.mp4#t=5" type="video/mp4">
  </video>
</div>
<div mat-dialog-content class="mat-typography">
  La sagesse incarnée de la famille Diep. Je me suis occupée et ai vu grandir tous mes petits enfants à la Rue des Barques. De la cuisine au salon et jusque dans la chambre, les coups de baguettes
  n'ont pas été toujours mérité... mais il fallait remettre de l'ordre dans ce patelin suisse que je chérissais tant, malgré mon envie folle de retrouver dans mon pays natal !<br/><br/>
  J'ai d'ailleurs décidé de tout quitter en l'an 2000 pour laisser place à la descendance et ainsi retrouver mon chez-moi pour la fin de ma vie... En effet, mes bambins avaient déjà bien grandis
  et je sentais qu'ils n'avaient plus besoin de mon aide. Mon mari et moi sommes retournés terminer notre vie à Vungtau, dans notre nouvelle maison. 
  Après plusieurs années de souffrance physique dues à l'âge, mon âme s'est finalement envolée dans un monde meilleur en 2014... Qu'elle repose en paix.
</div>