<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: orchid;">
  Je suis Kim
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/kim_modal0.jpeg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
  <img src="assets/images/kim_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
  <img src="assets/images/kim_modal6.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/kim_modal4.jpg" style="height: 200px; width:auto; border-radius: 8px;" class="img-modal" />
  <div class="wrapper-modal-img">
    <img src="assets/images/kim_modal7.jpg" style="height: 200%; width:auto; border-radius: 8px;" />
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  Demi-soeur d'une&nbsp;grande famille et&nbsp;heureuse héritière du&nbsp;nom de&nbsp;Diep. J'ai&nbsp;grandi à&nbsp;Onex
  aux&nbsp;côtés de&nbsp;mon&nbsp;père et&nbsp;vis
  actuellement au&nbsp;Viêt&nbsp;Nam.
  Mes&nbsp;demi-frères et&nbsp;soeurs venaient régulièrement me rendre visite au&nbsp;moment où&nbsp;j'étais
  sur&nbsp;Genève
  et&nbsp;j'espère les&nbsp;revoir un&nbsp;beau&nbsp;jour lorsque je ferai mes&nbsp;hautes&nbsp;études
  à&nbsp;l'université en
  Suisse.
  Par&nbsp;ailleurs, je&nbsp;me&nbsp;suis découvert un&nbsp;talent caché : le&nbsp;dessin sur&nbsp;papier.<br /><br />
  De&nbsp;nature joviale, souriante et&nbsp;attentionnée, je&nbsp;partage volontiers mes&nbsp;petites pièces
  artisitiques
  avec mon&nbsp;demi-frère le&nbsp;plus jeune. Pour le&nbsp;reste, ils&nbsp;n'ont&nbsp;pas&nbsp;beaucoup
  de&nbsp;souvenirs de&nbsp;moi...
</div>
<span class="dialog-age">Âge actuel : {{age}} ans</span>
