<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: lightcoral;">Je suis Tao</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/tao_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/tao_modal2.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/tao_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/tao_modal5.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/tao_modal6.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/tao_modal7.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Frère&nbsp;cadet et&nbsp;benjamin d'une&nbsp;grande&nbsp;famille. J'ai&nbsp;toujours vécu aux&nbsp;côtés
  de&nbsp;mes&nbsp;frères et&nbsp;soeurs qui ont&nbsp;été&nbsp;là&nbsp;pour me&nbsp;soutenir et&nbsp;m'apporter
  tout&nbsp;le&nbsp;réconfort
  dont&nbsp;j'avais&nbsp;besoin pour&nbsp;grandir&nbsp;heureux et&nbsp;épanoui. Durant toute&nbsp;mon&nbsp;enfance,
  j'ai&nbsp;partagé ma&nbsp;joie et&nbsp;ma&nbsp;bonne&nbsp;humeur au&nbsp;quotidien
  avec&nbsp;tous&nbsp;mes&nbsp;proches&nbsp;: c'était presque contagieux&nbsp;!<br /><br />
  On&nbsp;dit de&nbsp;moi que&nbsp;j'ai&nbsp; une&nbsp;"bonne"&nbsp;tête. Cela&nbsp;doit certainement vouloir dire
  que&nbsp;les&nbsp;gens ne&nbsp;me&nbsp;prennent pas&nbsp;au&nbsp;sérieux mais&nbsp;attention&nbsp;:
  j'ai&nbsp;du&nbsp;charme et&nbsp;je&nbsp;sais m'en&nbsp;servir. <br /><br />
  Oh&nbsp;non... Le&nbsp;narrateur du&nbsp;chapitre de&nbsp;ma&nbsp;vie manque cruellement d'informations
  et&nbsp;pour&nbsp;cette&nbsp;raison, ne&nbsp;peut poursuivre cet&nbsp;épilogue... Peut-être un&nbsp;jour
  en&nbsp;saura-t-il&nbsp;davantage...&nbsp;?
</div>
