<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: orchid;">Je suis Papou</h1>
<div
  style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center;">
  <img src="/docs/assets/images/papou_modal0.png" style="height: 200px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="/docs/assets/videos/papou1.mp4#t=2" type="video/mp4">
  </video>
</div>
<div
  style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="/docs/assets/videos/papou2.mp4#t=2" type="video/mp4">
  </video>
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="/docs/assets/videos/yaya2.mp4#t=2" type="video/mp4">
  </video>
</div>
<div mat-dialog-content class="mat-typography">
  Un talon d'Achille incassable (pour le jeu de mots), fier, vaillant et paré à toutes épreuves. Pilier d'une grande lignée hellénique et "papou" pour mes petits-enfants.
  J'ai consacré un long moment de ma vie à ma carrière militaire. Des voyages en passant par les déplacements professionnels, jusqu'à la décision de s'établir en Suisse. Du travail acharné jusqu'à la garde
  des enfants de ma fille unique, ma fin de vie s'est résumée à un long fleuve tranquille.  <br/> <br/>
  Pour ma part, je suis finalement retourné dans mon pays natal avec ma chère et tendre femme, qui a toujours su prendre soin de moi et assurer mes besoins quotidiens.
  Je laisse ma place à la relève en septembre 2009 et m'envole avec l'âme d'un heureux lieutenant qui aura bien vécu aux côtés de ses proches.
</div>
