<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: plum;">Je suis Loan</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/loan_modal2.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/loan_modal3.PNG" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/loan_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/loan_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Petite soeur et troisième d'une belle famille. Tout au long de mon enfance, j'ai été proche de mes frères et soeurs et je pouvais compter sur eux à n'importe
  quel moment pour m'aider ou me conseiller sur des détails. De nature calme et timide, je suis la sagesse de la famille.<br/>
  A mon grand regret, le narrateur du chapitre de ma vie manque d'information et pour cette raison, ne peut poursuivre cet épilogue... A bientôt pour de nouvelles aventures.
</div>
