<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: pink;">
  Je suis Linh
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/linh_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/linh_modal2.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/linh_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/linh_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/linh_modal4.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  L'aînée d'une&nbsp;longue lignée. De&nbsp;nature calme et&nbsp;raisonnée, je&nbsp;suis le&nbsp;modèle
  de&nbsp;ma&nbsp;famille.
  J'ai&nbsp;vécu une&nbsp;enfance tumultueuse avec beaucoup de&nbsp;va-et-vient, des&nbsp;arrières-grands-parents
  qui&nbsp;se&nbsp;sont occupés de&nbsp;moi
  à&nbsp;ma&nbsp;naissance, en&nbsp;passant par&nbsp;grand-mère
  qui&nbsp;m'a&nbsp;toujours fait&nbsp;rêver avec ses&nbsp;excellentes spécialités culinaires, puis enfin mes&nbsp;deux
  tontons avec&nbsp;qui&nbsp;j'ai&nbsp;passé
  beaucoup de&nbsp;temps à&nbsp;jouer et&nbsp;discuter. Avec l'un&nbsp;d'entre&nbsp;eux, j'ai&nbsp;seulement
  9&nbsp;ans&nbsp;d'écart&nbsp;! <br /><br />
  Ma&nbsp;nouvelle vie en&nbsp;Espagne se&nbsp;déroule plutôt bien et je&nbsp;continue mes&nbsp;études. Je&nbsp;suis
  de&nbsp;près tonton Edouard et&nbsp;ses&nbsp;vidéos de&nbsp;sport, puis commence petit&nbsp;à&nbsp;petit
  à&nbsp;me&nbsp;motiver à&nbsp;bouger... Le&nbsp;confinement strict ne&nbsp;m'aide&nbsp;pas, mais je&nbsp;reste
  optimiste.
</div>
<span class="dialog-age">Âge actuel : {{age}} ans</span>
