<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: goldenrod;">Je suis Papa</h1>
<div style="display:grid; margin-bottom: 10px; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
  <img src="https://edouarddiep.github.io/src/assets/images/binh_modal3.jpeg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="https://edouarddiep.github.io/src/assets/images/binh_modal2.jpeg" style="height: 180px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="https://edouarddiep.github.io/src/assets/videos/papa.mp4" type="video/mp4">
  </video>
</div>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="https://edouarddiep.github.io/src/assets/images/binh_modal1.jpeg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="https://edouarddiep.github.io/src/assets/images/binh_modal4.jpeg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Le grand sage de la famille encore vivant et progéniteur de quatre enfants. Il m'a été incombé le rôle de Père à l'âge de 25 ans. Dès ce moment, j'eus très vite deux enfants 
  avec lesquels je voyageais et appréciais chaque instant de ma vie de famille comblée en Suisse. Beaucoup plus tard est né le troisième, que j'ai accompagné de très près jusqu'à l'âge de 6 ans.
  Les hauts et les bas de mon existence ont fait que ma vie a pris un nouveau tournant après la cinquantaine : âge où j'ai décidé de mettre au monde ma dernière petite fille. <br/><br/>
  Tout au long de mon vécu à Genève, j'ai surveillé de près ou de loin mes enfants avec lesquels j'organisais avec plaisir des repas à la maison afin de prendre de leurs nouvelles
  et ainsi m'assurer que tout va pour le mieux tant dans leur santé, que dans leur vie professionnelle.
  Ma carrière s'étant terminée en 2015, j'ai aujourd'hui pris ma tant attendue retraite au Viêt Nam où je vis actuellement avec ma femme et ma fille de 16 ans.<br/><br/>
  Je reste cependant en contact régulier avec mon ex-femme et mes fils grâce aux moyens de communication actuels... Car oui il faut l'avouer : cela aurait été impossible à mon époque.
  Ah oui ! N'oublions pas le sport dans ce long et pénible confinement...
</div>
