<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: darkturquoise;">Je suis Maman</h1>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <img src="assets/images/maman_modal1.jpg" style="height: 180px; width:auto; border-radius: 8px;"/>
  <img src="assets/images/maman_modal2.jpg" style="height: 180px; width:auto; border-radius: 8px;"/>
  <img src="assets/images/maman_modal3.PNG" style="height: 180px; width:auto; border-radius: 8px;"/>
</div>
<div mat-dialog-content class="mat-typography">
  Le pilier de la famille, la protagoniste, le centre de l'attention et la communication. J'exprime la force et la persévérance tout autour de moi avec une voix forte et fais preuve de générosité par excellence.
  Aussi appelée "Mère" par mes fils d'amour, leur train de vie est une réelle inspiration pour moi dans mon quotidien.
  Produit d'une famille grecque, je grandis à Athènes et arrive en Suisse à l'âge innocent de 17 ans. Aux côtés de ma famille, je deviens très rapidement indépendante
  et mets au monde 3 enfants à Genève, dans un bel appartement avec vue sur le lac. En l'an 2001, ma vie bouscule lorsque survient le divorce avec mon mari.<br/><br/>
  Les dures et pénibles conséquences sur les années qui suivent ne m'aident pas à satisfaire une éducation formelle pour le petit dernier,
  mais je prends sur moi et parviens finalement à me sortir de cette situation obscure. Parallèlement, je m'accroche avec passion et acharnement à mon métier et finis par saisir
  à bras ouverts une opportunité de retraite anticipée en 2012. Une nouvelle vie commence alors pour moi : celle de l'ange gardien pour ma chère et tendre mère qui ne pouvait plus s'occuper
  d'elle-même, victime de la maladie d'Alzheimer. <br/><br/>
  J'avance et persévère sans relâche dans la logistique, la gestion des factures, l'administration perpétuelle et la paperasse infinie. Je me découvre une nouvelle passion : celle du montage photo.
  Grâce à mes fils, je reste constamment à la pointe de la technologie et informée sur les dernières nouveautés du marché de la mode électronique. <br/><br/>
  J'accompagne alors avec fierté mon petit dernier, toujours à la maison, et ainsi le vois s'envoler vers de nouveaux horizons avec son diplôme en poche. En février 2020, un évènement tragique se produit :
  ma santé est lourdement affectée. Je garde cependant la tête haute et m'efforce d'aller de l'avant, tout en écoutant les précieux conseils de mes proches afin d'envisager de me relever d'une situation
  difficile qui me demandera un effort constant et nécessitera de me sortir de ma zone de confort... Celle que j'avais tant appréciée depuis le début de ma retraite ! Malheureusement pour moi et ma psychologie rigide,
  ma santé prime sur mes occupations et je vais devoir commencer à changer de grandes et vieilles habitudes afin de faire face à une réalité évidente : la suite de ma vie qui est loin d'être arrivée au bout.
</div>