<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: grey;">
  Je suis Edouard
  <span style="font-size: .9em;">({{age}} ans)</span>
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/edouard_modal3.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal6.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal1.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <div class="vertical-video-large-container">
    <video id="video" muted autoplay loop preload="auto" style="height: 250px; width: auto;">
      <source src="assets/videos/edouard.mp4#t=9" type="video/mp4">
    </video>
  </div>
  <img src="assets/images/edouard_modal8.jpeg" style="height: 250px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal0.jpg" style="height: 250px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Benjamin, petit sportif de la&nbsp;famille et&nbsp;véritable pile électrique (oui c'est un&nbsp;pléonasme). Dôté
  d'un&nbsp;esprit jeune,
  dynamique et&nbsp;rempli de&nbsp;nouvelles idées tous les jours, je&nbsp;soutiens Mère dans sa&nbsp;vie quotidienne
  de&nbsp;retraitée à&nbsp;la&nbsp;maison.
  Après avoir vécu une&nbsp;adolescence difficile avec l'addiction à&nbsp;la&nbsp;nourriture
  et&nbsp;aux&nbsp;jeux-vidéos,
  qui m'ont amené à&nbsp;cumuler d'innombrables absences à&nbsp;l'école obligatoire, je&nbsp;revis ENFIN aujourd'hui,
  toujours aux&nbsp;côtés de&nbsp;Mère
  et&nbsp;mon&nbsp;grand frère, auxquels j'accorde tout l'amour du&nbsp;monde. <br /><br />
  De&nbsp;nature calme, patient et&nbsp;réfléchi, les autres disent de&nbsp;moi que j'ai&nbsp;du&nbsp;mal
  à&nbsp;exprimer mes
  émotions... Je suis en&nbsp;quelque sorte dans mon&nbsp;monde.
  A&nbsp;l'heure actuelle, mon&nbsp;sport, mon&nbsp;métier et&nbsp;ma&nbsp;famille sont toute ma&nbsp;vie.
  Aurais-je&nbsp;hérité cela de&nbsp;mon&nbsp;grand-père
  An...&nbsp;? <br /><br />Ah&nbsp;et&nbsp;sinon, j'ai&nbsp;été tonton à&nbsp;l'âge de&nbsp;9&nbsp;ans !
</div>
