<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: grey;">Je suis Edouard</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/edouard_modal3.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal6.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal1.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-three-columns-border">
  <img src="assets/images/edouard_modal9.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal8.jpeg" style="height: 200px; width:auto; border-radius: 8px;" />
  <img src="assets/images/edouard_modal0.jpg" style="height: 200px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  Benjamin, petit sportif de la famille et véritable pile électrique (oui c'est un pléonasme). Dôté d'un esprit jeune, dynamique et rempli de nouvelles idées tous les jours, je soutiens Mère dans sa vie quotidienne de retraitée à la maison.
  Après avoir vécu une adolescence difficile avec l'addiction à la nourriture et aux jeux-vidéos, qui m'ont amené à cumuler d'innombrables absences à l'école obligatoire, je revis ENFIN aujourd'hui, toujours aux côtés de Mère
  et mon grand frère, auxquels j'accorde tout l'amour du monde. <br/><br/>
  De nature calme, patient et réfléchi, les autres disent de moi que j'ai du mal à exprimer mes émotions... Je suis en quelques sortes dans mon monde.
  A l'heure actuelle, mon sport, mon métier et ma famille sont toute ma vie. Aurais-je hérité cela de mon grand-père An ... ? Ah et sinon, j'ai été tonton à l'âge de 9 ans.
</div>
