<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: mediumblue;">
  Je suis Eric
</h1>
<div class="grid-three-columns-simple">
  <img src="assets/images/eric_modal10.jpeg" style="height: 250px; width:auto; border-radius: 8px;" class="img-modal" />
  <img src="assets/images/eric_modal5.jpg" style="height: 250px; width:auto; border-radius: 8px;" class="img-modal" />
  <div class="horizontal-video-container">
    <video id="video" muted autoplay loop preload="auto" style="height: 250px; width: auto;">
      <source src="assets/videos/eric1.mp4#t=2" type="video/mp4">
    </video></div>
</div>
<div class="grid-three-columns-border">
  <div class="horizontal-video-container eric-yoyo">
    <video id="video" muted autoplay loop preload="auto"
      style="height: 250px; width: auto; position: relative; left: -10px;">
      <source src="assets/videos/eric2.mp4#t=1" type="video/mp4">
    </video>
  </div>
  <img src="assets/images/eric_modal3.png"
    style="height: 250px; width:auto; border-radius: 8px; position: relative; left: 10px;" class="img-modal" />
  <img src="assets/images/eric_modal9.jpeg"
    style="height: 250px; width:auto; border-radius: 8px; position: relative; left: 25px;" class="img-modal" />
</div>
<div mat-dialog-content class="mat-typography">
  ... qui rime aussi avec "magnifique" ! De&nbsp;nature dynamique, joviale et&nbsp;bon&nbsp;vivant, je&nbsp;croque
  la&nbsp;vie à&nbsp;pleines dents et&nbsp;partage volontiers
  mon&nbsp;humour et&nbsp;mon&nbsp;énergie avec la&nbsp;famille.
  Doyen de la&nbsp;lignée masculine des&nbsp;Diep encore présents en Suisse, mais avant tout proche de Mère, j'assume
  mon&nbsp;rôle de&nbsp;grand&nbsp;frère et&nbsp;apporte
  mon&nbsp;soutien moral et&nbsp;physique à&nbsp;toutes celles et&nbsp;ceux qui&nbsp;m'entourent, autant
  que&nbsp;possible,
  dans chaque situation de&nbsp;la&nbsp;vie courante. L'autonomie, la&nbsp;débrouillardise et&nbsp;la&nbsp;patience sont
  des&nbsp;valeurs que j'ai&nbsp;forgées à&nbsp;travers des&nbsp;nombreuses expériences vécues tout&nbsp;au&nbsp;long
  de&nbsp;mon&nbsp;existence.
  Malgré des&nbsp;situations difficiles, je&nbsp;garde la&nbsp;tête haute et&nbsp;persévère afin&nbsp;d'atteindre
  mes&nbsp;objectifs.
  Mère a&nbsp;de&nbsp;la&nbsp;chance de&nbsp;pouvoir compter sur&nbsp;moi à&nbsp;n'importe quel moment...
</div>
<span class="dialog-age">Âge actuel : {{age}} ans</span>
