<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: mediumblue;">Je suis Eric</h1>
<div style="display:grid; margin-bottom: 10px; grid-template-columns: 1fr 1fr 1fr; justify-items: center;">
  <img src="assets/images/eric_modal1.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/eric_modal5.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="assets/videos/eric1.mp4#t=2,14" type="video/mp4">
  </video></div>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center; border-bottom: 1px solid black;">
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="assets/videos/eric2.mp4#t=1" type="video/mp4">
  </video>
  <img src="assets/images/eric_modal3.png" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  ... qui rime aussi avec "magnifique" ! De nature dynamique, joviale et bon vivant, je croque la vie à pleines dents et partage volontiers
  mon humour et mon énergie avec la famille.
  Doyen de la lignée masculine des Diep encore présent en Suisse, mais avant tout proche de Mère, j'assume mon rôle de grand frère et apporte
  mon soutien moral et physique à toutes celles et ceux qui m'entourent, autant que possible,
  dans chaque situation de la vie courante. L'autonomie et la débrouillardise sont des valeurs que j'ai forgées à
  travers des nombreuses expériences vécues tout au long de mon existence.
  Malgré des situations difficiles, je garde la tête haute et persévère afin d'atteindre mes objectifs.
  Mère a de la chance de pouvoir compter sur moi à n'importe quel moment...
</div>
