<span class="material-icons icon-close">close</span>
<h1 mat-dialog-title style="text-align: center; color: mediumvioletred;">Je suis Maman Ly</h1>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr 1fr; justify-items: center">
  <img src="../../../assets/images/maman_ly_modal0.png" style="height: 180px; width:auto; border-radius: 8px;" />
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="../../../assets/videos/maman_ly1.mp4" type="video/mp4">
  </video>
</div>
<div style="display:grid; padding: 20px; margin-bottom: 20px; grid-template-columns: 1fr; justify-items: center; border-bottom: 1px solid black;">
  <video id="video" muted autoplay loop style="height: 180px; width: auto;">
    <source src="../../../assets/videos/maman_ly2.mp4" type="video/mp4">
  </video>
</div>
<div mat-dialog-content class="mat-typography">
  La sagesse incarnée de la famille Diep. Je me suis occupé et j'ai vu grandir tous mes petits enfants à la Rue des Barques. De la cuisine au salon et jusque dans la chambre, les coups de baguettes
  n'ont pas été toujours mérité... mais il fallait remettre de l'ordre dans ce patelin suisse que je chérissais tant, malgré mon envie folle de retrouver dans mon pays natal !
  J'ai d'ailleurs décidé de tout quitter en 2002 pour laisser place à la descendance et ainsi retrouver mon chez-moi pour la fin de ma vie... En effet, mes bambins avaient déjà bien grandis.
  Mon mari et moi sommes retournés terminer notre vie à Saïgon, dans ma maison. Après plusieurs années de souffrance physique, mon âme s'est finalement envolée en 2014... Qu'elle repose en paix là-haut.
</div>