<span class="material-icons icon-close">exit_to_app</span>
<h1 mat-dialog-title class="person-title" style="text-align: center; color: palevioletred;">Je suis Laura</h1>
<div class="grid-two-columns-simple">
  <img src="assets/images/laura_modal0.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/laura_modal1.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div class="grid-two-columns-border">
  <img src="assets/images/laura_modal2.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
  <img src="assets/images/laura_modal3.jpg" style="height: 180px; width:auto; border-radius: 8px;" />
</div>
<div mat-dialog-content class="mat-typography">
  L'aînée de la famille. Fière, autonome et rebelle, je n'ai que peu de souvenirs aux côtés de mes parents... L'âge et mes raisons m'ont poussée à ne plus commettre
  les mêmes erreurs. En effet, j'ai pris la décision de quitter le cocon familial à l'âge de 17 ans pour vivre tout d'abord seule, puis avec mon mari. Dès lors, j'ai fait
  un choix qui allait radicalement changer ma vie : celui de mettre au monde 4 enfants en l'espace de sept années. <br/><br/>
  Épaulée de près par Mère, mon train de vie m'a ainsi permis de découvrir de nouvelles régions, de déménager et ainsi voyager à travers les contrées helvétiques afin d'y trouver un nid stable et pérenne. En passant par Genève, puis Gland et
  Arzier-Le-Muid pour enfin quitter la Suisse en 2014 après de nombreux échecs. Mon mari et moi décidâmes de nous installer tous les six en Espagne dans le but d'y trouver un havre de paix.<br/><br/>
  Dès ce moment-là, j'ai décidé de couper les ponts avec ma famille en Suisse... Un choix radical mais nécessaire, afin de me concentrer sur l'éducation de mes propres enfants.
  Le contact avec mes frères opère toujours à travers les réseaux sociaux mais reste occasionnel et opportuniste. Bref, j'ai changé de vie.
</div>
