/* You can add global styles to this file, and also import other style files */

html, body {
    background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
    /* W3C */
    background-attachment: fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
    min-height: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    overflow: hidden;
    height: 100vh;
    cursor: url(../src/assets/images/heart2.cur) 99 0, auto;
}

.grid-three-columns-border {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-bottom: 1px solid black;
}

.grid-two-columns-border {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-bottom: 1px solid black;
}

.grid-one-column-border {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    border-bottom: 1px solid black;
}

.grid-three-columns-simple {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.grid-two-columns-simple {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.grid-one-column-simple {
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.mat-typography {
    font-size: 1.1em;
    margin-top: 20px;
    line-height: 1.6;
    letter-spacing: .5px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon-close {
    float: right;
    margin: -15px;
    font-size: xx-large;
    color: crimson;
}

.typewriter {
    width: 100%;
    margin: auto;
    text-align: center;
}

.typewriter h5 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The developping effect */

@keyframes extendingHeight {
    from {
        max-height: 0
    }
    to {
        max-height: auto
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: transparent;
    }
}

.custom-modalbox {
    transition: all 2s ease;
    overflow: hidden;
    animation: opacityShow 1s steps(200, end), extendingHeight 1s linear;
}

@keyframes opacityShow {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.person-title {
    text-align: center;
    font-size: 1.3em !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        overflow: scroll;
    }
    .custom-modalbox {
        max-width: 90% !important;
        width: 90% !important;
    }

    .grid-three-columns-border {
        grid-template-columns: 1fr;
    }
    
    .grid-two-columns-border {
        grid-template-columns: 1fr;
    }
    
    .grid-one-column-border {
        grid-template-columns: 1fr;
    }
    
    .grid-three-columns-simple {
        grid-template-columns: 1fr;
    }
    
    .grid-two-columns-simple {
        grid-template-columns: 1fr;
    }
    
    .grid-one-column-simple {
        grid-template-columns: 1fr;
    }
    
}